.finddoctor-container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-button {
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #2190ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 45px; /* just below the input */
  width: 80%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
