<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NavBar</title>
    <link rel="stylesheet" href="Navbar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

  </head>
  <body>
      <nav>
          <div class="nav-logo-container">
           <span>Stay Healthy</span> 
            <img class="logo" src="https://img.pikbest.com/png-images/20241019/creative-doctor-logo-vector-design_10974091.png!sw800" alt="logo">
          </div>
          <div class="nav-links">
                <ul>
                <li class="link-item">
                  <a href="/Landing_Page/LandingPage.html">Home</a></li>
                <li class="link-item">
                  <a href="#">Appointment</a></li>
                <li class="link-item">
                  <a href="#">Health Blog</a></li>
                <li class="link-item">
                  <a href="#">Reviews</a></li>
                
                  <button class="circle" >
                    <a href="#">Sign Up</a>
                  </button>
                  <button class="circle" >
                    <a href="#">Login</a>
                  </button>
                  
            </ul>
          </div>
            
      </nav>
  </body>
</html>