body{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS';
}


nav{
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.nav-logo-container{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  
}
.logo{
  width: 30px;
  height: auto;
}
nav ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: end;
  gap: 25px;
}

.nav-links{
  display: flex;
  align-items: center;
  
  
  
}
.link-item{
margin-top: .5rem;
cursor: pointer;
}

.link-item:hover{
  color: blue;
  text-decoration: underline;
}
.circle{
  display: flex;
  background-color: rgb(137, 205, 236);
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: .5rem;
  cursor: pointer; 
  font-size: 15px;
  font-weight: 500;
}

.circle:hover{
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}